@use "../../presets" as *;
@use "../../mixins" as *;

.experience {
  @include color;
  padding: 100px 0;

  &__container {
    display: flex;
    gap: $gap;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.experience-item {
  display: flex;
  gap: $gap;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__number {
    @include skin;
  }

  &__image {
    order: -1;
  }

  @media (max-width: 980px) {
      flex-basis: 28%;
      justify-content: center;
    }

}
