@use "../../presets" as *;

.experience {
  background-color: $color-primary;
  padding: 100px 0;
  color: $color-white;

  &__container {
    display: flex;
    gap: $gap;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.experience-item {
  display: flex;
  gap: $gap;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__number {
    font-size: 21px;
    font-weight: 500;
  }

  &__image {
    order: -1;
  }
}
