$font-size: 16px;
$font-family: "Roboto", sans-serif;
$letter-spacing: 0.1em;

$line-height-normal: 1.2;
$line-height-lg: 1.64;

$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-sm: calc($gap / 2);
$gap-lg: calc($gap * 2);
